.featured-stories__title {
	font-size: 64px;
	line-height: 1.25;
	color: $white;
	margin-bottom: 96px;
	font-weight: 700;
}

.featured-stories__item {
	max-width: 368px;
	display: flex;
	align-items: flex-start;



	&:not(:last-child) {
		margin-bottom: 32px;
		border-bottom: 1px solid rgba(227, 227, 227, 0.1);
		padding-bottom: 32px;
	}

	img {
		margin-right: 32px;
	}
}

.review__text {
	font-size: 18px;
	line-height: 1.33;
	color: $white;
	margin-bottom: 8px;
	font-weight: 700;
}

.review__date {
	font-size: 11px;
	color: rgba(255, 255, 255, 0.502293);
}


.featured-stories--active {
	position: relative;
	background: rgba(60, 74, 81, 1) !important;
	z-index: 15;
	top: 0;
	bottom: 0;
	opacity: 1;
	right: 0 !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100% !important;
	transition: 0.5s ease-in;
}

.featured-stories {
	position: absolute;
	right: 0;
	top: 0;
	width: 35%;
	height: 100%;
	padding: 127px 177px 226px 133px;
	background: rgba(60, 74, 81, 0.94);
	mix-blend-mode: normal;
	transition: 0.5s ease-in;
}

.stories__btn {
	position: absolute;
	z-index: 16;
	right: 10px;
	top: 50%;
	transform: translate(-50%);
	width: 40px;
	height: 36px;
	background-color: transparent;

}

.stories__btn-line {
	background-color: $white;
	position: absolute;

	// &--01 {
	// 	position: absolute;
	// 	background-color: $white;
	// 	height: 2px;
	// 	width: 100%;
	// 	left: 0;
	// 	bottom: 8px;
	// 	transition: transform 0.3s ease;
	// }

	// &--02 {
	// 	position: absolute;
	// 	background-color: $white;
	// 	height: 2px;
	// 	width: 100%;
	// 	left: 0;
	// 	top: 10px;
	// 	transition: transform 0.3s ease;
	// }
	position: absolute;
	background-color: $white;
	height: 3px;
	width: 100%;
	top: 18px;
	left: 0;

	&::after {
		content: "";
		position: absolute;
		background-color: $white;
		height: 3px;
		width: 100%;
		top: -9px;
		left: 0;
		transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in;
	}

	&::before {
		content: "";
		position: absolute;
		background-color: $white;
		height: 3px;
		width: 100%;
		top: 9px;
		left: 0;
		transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in;
	}
}




.stories__btn-line--active {
	background-color: transparent;

	&::after {
		top: 0;
		transition: top 0.15s linear, transform 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in 0.15s;
		transform: rotate(45deg);
	}

	&::before {
		top: 0;
		transition: top 0.15s linear, transform 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in 0.15s;
		transform: rotate(-45deg);
	}
}